/*@font-face {*/
    /*font-family: "CURSE";*/
    /*src: url("CURSE.eot");*/
    /*src: url("CURSE.eot?#iefix") format("embedded-opentype"),*/
    /*url("CURSE.woff") format("woff");*/

    /*font-weight: 200;*/
    /*font-style: normal;*/
/*}*/

@font-face {
    font-family: "HYSUPM";
    src: url("HYSUPM.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "BOKUTACHI";
    src: url("BokutachinoGothic.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}


