@font-face {
    font-family: "HYB";
    src: url("../fonts/HYSANB.TTF.eot");
    src: url("../fonts/HYSANB.TTF.eot?#iefix") format("embedded-opentype"),
         url("../fonts/HYsanB.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Molot';
    src: url('../fonts/Molot.eot');
    src: url('../fonts/Molot.woff') format('woff'),
        url('../fonts/Molot.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bokutachi';
    src: url('../fonts/bokutachi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}