<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.apache.cordova.agoravoice" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>agoravoice</name>
    <js-module name="agoravoice" src="www/agoravoice.js">
        <clobbers target="agoravoice" />
    </js-module>
	
<preference name="AGORA_ID" />
<preference name="AGORA_ANDROID_SDK_VERSION" default="2.2.0"/>

<platform name="android">

<config-file parent="/*" target="res/xml/config.xml">
<feature name="VoicePlugin">
<param name="android-package" value="org.apache.cordova.agoravoice.VoicePlugin" />
</feature>
</config-file>
 <config-file target="AndroidManifest.xml" parent="/*">
 <uses-permission android:name="android.permission.RECORD_AUDIO" />
 <uses-permission android:name="android.permission.INTERNET" />
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
 </config-file>

  <source-file src="src/android/agoraconnect.xml" target-dir="res/values" />
        <!-- Used for cordova-android 6 -->
  <config-file target="res/values/agoraconnect.xml" parent="/*">
  <string name="agora_app_id">$AGORA_ID</string>
  </config-file>
        <!-- Used for cordova-android 7 -->
  <config-file target="app/src/main/res/values/agoraconnect.xml" parent="/*">
  <string name="agora_app_id">$AGORA_ID</string>
  </config-file>
		
 
<config-file parent="/*" target="AndroidManifest.xml" />
<source-file src="src/android/VoicePlugin.java" target-dir="src/org/apache/cordova/agoravoice/" />

<framework src="io.agora.rtc:voice-sdk:$AGORA_ANDROID_SDK_VERSION"/>

</platform>

<platform name="ios"><config-file parent="/*" target="config.xml">
<feature name="VoicePlugin">
<param name="ios-package" value="VoicePlugin" />
</feature></config-file><source-file src="src/ios/VoicePlugin.m" />
</platform>

</plugin>
